In [3]:
import pandas as pd
import numpy as np

In [231]:
hnp = pd.read_csv('./extracted/hnp_stats_csv/HNP_StatsData.csv')
nd = pd.read_csv('./extracted/natural_disasters/EMDAT_1900-2021_NatDis.csv')
pe = pd.read_csv('./extracted/gdelt/gdelt_conflict_1_0.csv')
hnps = pd.read_csv('./extracted/hnp_stats_csv/HNP_StatsSeries.csv')
hnpc = pd.read_csv('./extracted/hnp_stats_csv/HNP_StatsCountry.csv')
hdi = pd.read_csv('./extracted/human-development-index.csv')
qol = pd.read_csv('./extracted/qol_index.csv')

Developed:
- Canada ( NA ) 
- US ( NA ) 
- Mexico ( NA ) 

Developing:
- India (south asia) 
- Morocco ( Middle East & North Africa) 
- Kenya (Sub-Saharan Africa) 

Underdeveloped:
- Chad (Sub-Saharan Africa) 
- Yemen (Middle East & North Africa) 
- DR Congo (Sub-Saharan Africa)

In [72]:
hnp_agg = hnp[(hnp['Country Name'] == 'Canada') | (hnp['Country Name'] == 'United States') | (hnp['Country Name'] == 'Mexico')
    | (hnp['Country Name'] == 'India') | (hnp['Country Name'] == 'Morocco') | (hnp['Country Name'] == 'Kenya')
    | (hnp['Country Name'] == 'Chad') | (hnp['Country Name'] == 'Yemen, Rep.') | (hnp['Country Name'] == 'Congo, Dem. Rep.')]

## Country Dimension

In [73]:
countries = hnp_agg['Country Code'].unique()
# country_dimension = hnpc[hnpc['Country Code'].isin(countries)][['Country Code', 'Table Name', 'Long Name', 'Region', 'Currency Unit', 'Income Group', 'System of trade', 'Government Accounting concept', 'Lending category']]
# country_dimension['Continent'] = ['North America', 'Africa', 'Asia', 'Africa', 'Africa', 'North America', 'Africa', 'North America', 'Africa']
# country_dimension['Capital'] = ['Ottawa', 'Kinshasa', 'New Delhi', 'Nairobi', 'Rabat', 'Mexico City', 'N\'Djamena', 'Washington, D.C.', 'Sana\'a']
# pop = []
# for country in countries:
#     male = hnp_agg[(hnp_agg['Indicator Name'].str.contains('Population, male')) & (hnp_agg['Country Code'] == country)]['2020'].values[0]
#     female = hnp_agg[(hnp_agg['Indicator Name'].str.contains('Population, female')) & (hnp_agg['Country Code'] == country)]['2020'].values[0]
#     pop.append(male+female)
# country_dimension['Total Population'] = pop
# country_dimension = country_dimension.rename(columns={'Country Code': 'CountryKey'}).set_index('CountryKey')
# country_dimension.to_csv('Country_Dimension.csv')
country_dimension = pd.read_csv('Country_Dimension.csv')

## Month Dimension

In [75]:
# decade = []
# years = []
# quarter = []
# months = []
# for year in range(2005, 2021):
#     for month in range(1, 14):
#         if month == 13:
#             months.append(None)
#         else:
#             months.append(month)
#         years.append(year)
#         if year < 2011:
#             decade.append('2000s')
#         else:
#             decade.append('2010s')
#         if month < 4:
#             quarter.append(1)
#         elif month < 7:
#             quarter.append(2)
#         elif month < 10:
#             quarter.append(3)
#         elif month < 13:
#             quarter.append(4)
#         else:
#             quarter.append(None)
            
# month_dimension = pd.DataFrame([months, quarter, years, decade])
# month_dimension = month_dimension.transpose()
# month_dimension.columns = ['Month', 'Quarter', 'Year', 'Decade']
# month_dimension = month_dimension.rename_axis('MonthKey')
# month_dimension.to_csv('Month_Dimension.csv')

month_dimension = pd.read_csv('Month_Dimension.csv')

In [76]:
month_dimension

     MonthKey  Month  Quarter  Year Decade
0           0    1.0      1.0  2005  2000s
1           1    2.0      1.0  2005  2000s
2           2    3.0      1.0  2005  2000s
3           3    4.0      2.0  2005  2000s
4           4    5.0      2.0  2005  2000s
..        ...    ...      ...   ...    ...
203       203    9.0      3.0  2020  2010s
204       204   10.0      4.0  2020  2010s
205       205   11.0      4.0  2020  2010s
206       206   12.0      4.0  2020  2010s
207       207    NaN      NaN  2020  2010s

[208 rows x 5 columns]

## Education Dimension

In [48]:
# edu_att = hnps[hnps['Topic'] == 'Background: Education']['Indicator Name'].unique()
# data = []
# for country in countries:
#     for year in range(2005, 2021):
#         row = []
#         for indicator in edu_att:
#             ind = hnp_agg[(hnp_agg['Country Code'] == country) & (hnp_agg['Indicator Name'] == indicator)][str(year)].values
#             if (ind.size == 0):
#                 ind = np.nan
#             else:
#                 ind = ind[0]
#             row.append(ind)
#         t = [country, year] + row
# #         print(t)
#         data.append(t)
        

# columns = ['CountryKey', 'Year'] + edu_att.tolist()
# edu_dimension = pd.DataFrame(data, columns=columns)
# edu_dimension['Month'] = np.nan
# new_columns = ['CountryKey', 'MonthKey'] + edu_att.tolist()
# edu_dimension = edu_dimension.merge(month_dimension)[new_columns].rename_axis('EducationKey')
# edu_dimension.to_csv('Education_Dimension.csv')

In [23]:
edu_dimension = pd.read_csv('Education_Dimension.csv')

### Data staging: Education

Columns that were dropped due to all or too many missing values:
- Literacy rate, youth (ages 15-24), gender parity index (GPI)
- Government expenditure on education, total (% of GDP)
- Ratio of school attendance of orphans to school attendance of non-orphans ages

Rows with all null values in attribute columns were dropped.

In [45]:
# # for c in edu_dimension.columns:
# #     print(c, edu_dimension[c].isnull().sum())
# #     for country in edu_dimension['CountryKey'].unique():
# #         print(c, country, edu_dimension[edu_dimension['CountryKey'] == country][c].isnull().sum())

# edu_dimension = edu_dimension.sort_values(['CountryKey', 'MonthKey'])
# # edu_dimension = edu_dimension.drop(['Literacy rate, youth (ages 15-24), gender parity index (GPI)', 'Government expenditure on education, total (% of GDP)', 'Ratio of school attendance of orphans to school attendance of non-orphans ages 10-14'], axis=1)
# columns_to_check = edu_dimension.columns[3:]
# edu_dimension = edu_dimension[~pd.isnull(edu_dimension[columns_to_check]).all(axis=1)]
# edu_dimension = edu_dimension.reset_index().drop(['index', 'EducationKey'], axis=1).rename_axis('EducationKey')
# edu_dimension.to_csv('Education_Dimension.csv')

## Health Dimension

In [77]:
# health_att = hnps[hnps['Topic'].isin(['Non-communicable diseases', 'Nutrition', 'HIV/AIDS', 'Infectious diseases', 'Immunization', 'Reproductive health'])]['Indicator Name'].unique()

# data = []

# for country in countries:
#     for year in range(2005, 2021):
#         row = []
#         for indicator in health_att:
#             ind = hnp_agg[(hnp_agg['Country Code'] == country) & (hnp_agg['Indicator Name'] == indicator)][str(year)].values
#             if (ind.size == 0):
#                 ind = None
#             else:
#                 ind = ind[0]
#             row.append(ind)
#         t = [country, np.nan, year] + row
#         data.append(t)

# columns = ['CountryKey', 'Month', 'Year'] + health_att.tolist()
# health_dimension = pd.DataFrame(data, columns=columns)
# new_columns = ['CountryKey', 'MonthKey'] + health_att.tolist()
# health_dimension = health_dimension.merge(month_dimension)[new_columns].rename_axis('HealthKey')
# health_dimension.to_csv('Health_Dimension.csv')

In [78]:
health_dimension = pd.read_csv('Health_Dimension.csv')
health_dimension

,HealthKey,CountryKey,MonthKey,"Total alcohol consumption per capita, female (liters of pure alcohol, projected estimates, female 15+ years of age)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)","Total alcohol consumption per capita, male (liters of pure alcohol, projected estimates, male 15+ years of age)",Prevalence of anemia among women of reproductive age (% of women ages 15-49),Prevalence of anemia among children (% of children ages 6-59 months),Prevalence of anemia among non-pregnant women (% of women ages 15-49),"Condom use, population ages 15-24, female (% of females ages 15-24)",...,"Contraceptive prevalence, any modern method (% of married women ages 15-49)","Contraceptive prevalence, any method (% of married women ages 15-49)","Mean age at first marriage, female","Mean age at first marriage, male",Wanted fertility rate (births per woman),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Completeness of death registration with cause-of-death information (%),Unmet need for contraception (% of married women ages 15-49)
0,0,CAN,12,NaN,NaN,NaN,8.7,10.3,8.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,TCD,12,1.65,4.62,7.65,52.3,77.3,52.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,COD,12,0.36,0.86,1.38,51.5,72.8,51.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,IND,12,0.79,2.33,3.78,54.2,64.4,54.2,NaN,...,NaN,54.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,KEN,12,1.18,3.01,4.91,34.3,46.9,33.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,139,KEN,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,140,MEX,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,141,MAR,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,142,USA,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,143,YEM,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data staging: Health

Columns that were dropped due to all or too many missing values:
- Condom use, population ages 15-24, female (% of females ages 15-24)
- Condom use, population ages 15-24, male (% of males ages 15-24)
- Condom use at last high-risk sex, adult female (% ages 15-49)
- Condom use at last high-risk sex, adult male (% ages 15-49)
- Demand for family planning satisfied by any methods (% of married women with demand for family planning)
- Demand for family planning satisfied by modern methods (% of married women with demand for family planning)
- Comprehensive correct knowledge of HIV/AIDS, ages 15-24, female (2 prevent ways and reject 3 misconceptions)
- Comprehensive correct knowledge of HIV/AIDS, ages 15-24, male (2 prevent ways and reject 3 misconceptions)
- Comprehensive correct knowledge of HIV/AIDS, ages 15-49, female (2 prevent ways and reject 3 misconceptions)
- Comprehensive correct knowledge of HIV/AIDS, ages 15-49, male (2 prevent ways and reject 3 misconceptions)
- Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)
- Use of insecticide-treated bed nets (% of under-5 population)
- Children with fever receiving antimalarial drugs (% of children under age 5 with fever)
- Maternal leave benefits (% of wages paid)
- Pregnant women receiving prenatal care of at least four visits (% of pregnant women)
- Pregnant women receiving prenatal care (%)
- ARI treatment (% of children under 5 taken to a health provider)
- Exclusive breastfeeding (% of children under 6 months)
- Diabetes prevalence (% of population ages 20 to 79)
- Infant and young child feeding practices, all 3 IYCF (% children ages 6-23 months)
- Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)
- Diarrhea treatment (% of children under 5 who received ORS packet)
- Prevalence of overweight, weight for height, female (% of children under 5)
- Prevalence of overweight, weight for height, male (% of children under 5)
- Prevalence of overweight, weight for height (% of children under 5)
- Postnatal care coverage (% mothers)
- Consumption of iodized salt (% of households)
- Contraceptive prevalence, any modern method (% of married women ages 15-49)
- Mean age at first marriage, female
- Mean age at first marriage, male
- Wanted fertility rate (births per woman)
- Women who were first married by age 15 (% of women ages 20-24)
- Women who were first married by age 18 (% of women ages 20-24)
- Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)
- Completeness of death registration with cause-of-death information (%)
- Unmet need for contraception (% of married women ages 15-49)

Rows with all null values in attribute columns were dropped.

In [79]:
# drop_columns = []
# for c in health_dimension.columns:
#     if health_dimension[c].isnull().sum() > 110: 
#         print(c)
#         drop_columns.append(c)

# health_dimension = health_dimension.sort_values(['CountryKey', 'MonthKey'])
# health_dimension = health_dimension.drop(drop_columns, axis=1)
# columns_to_check = health_dimension.columns[3:]
# health_dimension = health_dimension[~pd.isnull(health_dimension[columns_to_check]).all(axis=1)]
# health_dimension = health_dimension.reset_index().drop(['index', 'HealthKey'], axis=1).rename_axis('HealthKey')
# health_dimension.to_csv('Health_Dimension.csv')

Condom use, population ages 15-24, female (% of females ages 15-24)
Condom use, population ages 15-24, male (% of males ages 15-24)
Condom use at last high-risk sex, adult female (% ages 15-49)
Condom use at last high-risk sex, adult male (% ages 15-49)
Demand for family planning satisfied by any methods (% of married women with demand for family planning)
Demand for family planning satisfied by modern methods (% of married women with demand for family planning)
Comprehensive correct knowledge of HIV/AIDS, ages 15-24, female (2 prevent ways and reject 3 misconceptions)
Comprehensive correct knowledge of HIV/AIDS, ages 15-24, male (2 prevent ways and reject 3 misconceptions)
Comprehensive correct knowledge of HIV/AIDS, ages 15-49, female (2 prevent ways and reject 3 misconceptions)
Comprehensive correct knowledge of HIV/AIDS, ages 15-49, male (2 prevent ways and reject 3 misconceptions)
Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)
Use of insecticide-treated bed nets (% of under-5 population)
Children with fever receiving antimalarial drugs (% of children under age 5 with fever)
Maternal leave benefits (% of wages paid)
Pregnant women receiving prenatal care of at least four visits (% of pregnant women)
Pregnant women receiving prenatal care (%)
ARI treatment (% of children under 5 taken to a health provider)
Exclusive breastfeeding (% of children under 6 months)
Diabetes prevalence (% of population ages 20 to 79)
Infant and young child feeding practices, all 3 IYCF (% children ages 6-23 months)
Diarrhea treatment (% of children under 5 receiving oral rehydration and continued feeding)
Diarrhea treatment (% of children under 5 who received ORS packet)
Prevalence of overweight, weight for height, female (% of children under 5)
Prevalence of overweight, weight for height, male (% of children under 5)
Prevalence of overweight, weight for height (% of children under 5)
Postnatal care coverage (% mothers)
Consumption of iodized salt (% of households)
Contraceptive prevalence, any modern method (% of married women ages 15-49)
Mean age at first marriage, female
Mean age at first marriage, male
Wanted fertility rate (births per woman)
Women who were first married by age 15 (% of women ages 20-24)
Women who were first married by age 18 (% of women ages 20-24)
Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)
Completeness of death registration with cause-of-death information (%)
Unmet need for contraception (% of married women ages 15-49)

## Quality of Life Dimension

In [54]:
# qol_att = hnps[hnps['Topic'].isin(['Background', 'Cause of deaths', 'Water and sanitation', 'Medical resources and usage', 'Health financing', 'Background: Poverty', 'Background: Economy', 'Background: Labor force'])]['Indicator Name'].unique()

# data = []

# for country in countries:
#     for year in range(2005, 2021):
#         row = []
#         for indicator in qol_att:
#             ind = hnp_agg[(hnp_agg['Country Code'] == country) & (hnp_agg['Indicator Name'] == indicator)][str(year)].values
#             if (ind.size == 0):
#                 ind = None
#             else:
#                 ind = ind[0]
#             row.append(ind)
#         t = [country, np.nan, year] + row
#         data.append(t)

# columns = ['CountryKey', 'Month', 'Year'] + qol_att.tolist()
# quality_dimension = pd.DataFrame(data, columns=columns)
# new_columns = ['CountryKey', 'MonthKey'] + qol_att.tolist()
# quality_dimension = quality_dimension.merge(month_dimension)[new_columns].rename_axis('QualityOfLifeKey')
# quality_dimension.to_csv('QualityOfLife_Dimension.csv')

### Data staging: Quality of Life

Columns that were dropped due to all or too many missing values:
- Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)
- Cause of death, by injury (% of total)
- Cause of death, by non-communicable diseases (% of total)
- Community health workers (per 1,000 people)
- Specialist surgical workforce (per 100,000 population)
- Number of surgical procedures (per 100,000 population)
- Mortality rate attributed to household and ambient air pollution, age-standardized, female (per 100,000 female population)
- Mortality rate attributed to household and ambient air pollution, age-standardized, male (per 100,000 male population)
- Mortality rate attributed to household and ambient air pollution, age-standardized (per 100,000 population)
- People using at least basic sanitation services, urban (% of urban population)
- People using safely managed sanitation services, urban (% of urban population)
- Mortality caused by road traffic injury (per 100,000 population)
- Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)
- Number of people pushed below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure
- Proportion of population pushed below the $1.90 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure (%)
- Number of people pushed below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure
- Proportion of population pushed below the $3.20 ($ 2011 PPP) poverty line by out-of-pocket health care expenditure (%)
- Number of people spending more than 10% of household consumption or income on out-of-pocket health care expenditure
- Proportion of population spending more than 10% of household consumption or income on out-of-pocket health care expenditure (%)
- Number of people spending more than 25% of household consumption or income on out-of-pocket health care expenditure
- Proportion of population spending more than 25% of household consumption or income on out-of-pocket health care expenditure (%)
- Domestic private health expenditure per capita, PPP (current international $)
- Poverty headcount ratio at national poverty lines (% of population)
- Rural poverty headcount ratio at national poverty lines (% of rural population)
- Urban poverty headcount ratio at national poverty lines (% of urban population)
- Share of women in wage employment in the nonagricultural sector (% of total nonagricultural employment)
- Unemployment, female (% of female labor force) (modeled ILO estimate)
- Unemployment, male (% of male labor force) (modeled ILO estimate)
- Unemployment, total (% of total labor force) (modeled ILO estimate)
- Female headed households (% of households with a female head)


Rows with all null values in attribute columns were dropped.

In [81]:
qol_dimension = pd.read_csv('QualityOfLife_Dimension.csv')
qol_dimension

,QualityOfLifeKey,CountryKey,MonthKey,"GNI per capita, Atlas method (current US$)","Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)","Cause of death, by injury (% of total)","Cause of death, by non-communicable diseases (% of total)","Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, female (%)","Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70, male (%)","Mortality from CVD, cancer, diabetes or CRD between exact ages 30 and 70 (%)",...,Poverty headcount ratio at national poverty lines (% of population),Rural poverty headcount ratio at national poverty lines (% of rural population),Urban poverty headcount ratio at national poverty lines (% of urban population),Share of women in wage employment in the nonagricultural sector (% of total nonagricultural employment),"Labor force, female (% of total labor force)","Labor force, total","Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Female headed households (% of households with a female head)
0,0,CAN,12,34810.0,NaN,NaN,NaN,10.1,15.2,12.7,...,NaN,NaN,NaN,NaN,46.419241,17697127.0,NaN,NaN,NaN,NaN
1,1,TCD,12,470.0,NaN,NaN,NaN,22.8,26.1,24.4,...,NaN,NaN,NaN,NaN,44.975275,3690232.0,NaN,NaN,NaN,NaN
2,2,COD,12,200.0,NaN,NaN,NaN,25.4,29.7,27.5,...,NaN,NaN,NaN,NaN,50.007493,21267591.0,NaN,NaN,NaN,NaN
3,3,IND,12,710.0,NaN,NaN,NaN,18.9,26.0,22.5,...,NaN,NaN,NaN,NaN,26.427295,449085795.0,NaN,NaN,NaN,NaN
4,4,KEN,12,510.0,NaN,NaN,NaN,20.3,24.7,22.2,...,NaN,NaN,NaN,NaN,47.111728,13349642.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,139,KEN,207,1840.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23738918.0,NaN,NaN,NaN,31.0
140,140,MEX,207,8480.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,53978977.0,NaN,NaN,NaN,NaN
141,141,MAR,207,2980.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11523035.0,NaN,NaN,NaN,NaN
142,142,USA,207,64550.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,165163504.0,NaN,NaN,NaN,NaN
143,143,YEM,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6956391.0,NaN,NaN,NaN,NaN

In [82]:
# drop_columns = []
# for c in qol_dimension.columns:
#     if qol_dimension[c].isnull().sum() > 110: 
# #         print(c)
#         drop_columns.append(c)

# qol_dimension = qol_dimension.sort_values(['CountryKey', 'MonthKey'])
# qol_dimension = qol_dimension.drop(drop_columns, axis=1)
# columns_to_check = qol_dimension.columns[3:]
# qol_dimension = qol_dimension[~pd.isnull(qol_dimension[columns_to_check]).all(axis=1)]
# qol_dimension = qol_dimension.reset_index().drop(['index', 'QualityOfLifeKey'], axis=1).rename_axis('QualityOfLifeKey')
# qol_dimension.to_csv('QualityOfLifeDimension.csv')

## Population Dimension

In [60]:
# pop_att = hnps[hnps['Topic'].isin(['Population dynamics: Other demographic indicators', 'Population dynamics: Other demographic Indicators', 'Population dynamics', 'Population dynamics: Population by age group', 'Population dynamics: Population'])]['Indicator Name'].unique()

# data = []

# for country in countries:
#     for year in range(2005, 2021):
#         row = []
#         for indicator in pop_att:
#             ind = hnp_agg[(hnp_agg['Country Code'] == country) & (hnp_agg['Indicator Name'] == indicator)][str(year)].values
#             if (ind.size == 0):
#                 ind = None
#             else:
#                 ind = ind[0]
#             row.append(ind)
#         t = [country, np.nan, year] + row
#         data.append(t)

# columns = ['CountryKey', 'Month', 'Year'] + pop_att.tolist()
# pop_dimension = pd.DataFrame(data, columns=columns)
# new_columns = ['CountryKey', 'MonthKey'] + pop_att.tolist()
# pop_dimension = pop_dimension.merge(month_dimension)[new_columns].rename_axis('PopulationKey')
# pop_dimension.to_csv('Population_Dimension.csv')

### Data staging: Population

Columns that were dropped due to all or too many missing values:
- Mortality rate, under-5 (per 1,000 live births)
- Mortality rate, under-5, female (per 1,000 live births)
- Mortality rate, under-5, male (per 1,000 live births)
- Net migration
- Population ages 0-14, total
- Population ages 80 and above, female (% of female population)
- Age dependency ratio, old (% of working-age population)
- Age dependency ratio, young (% of working-age population)
- Completeness of birth registration, female (%)
- Completeness of birth registration, male (%)
- Completeness of birth registration, rural (%)
- Completeness of birth registration, urban (%)
- Completeness of birth registration (%)

Rows with all null values in attribute columns were dropped.

In [85]:
# pop_dimension = pd.read_csv('Population_Dimension.csv')
# pop_dimension

,PopulationKey,CountryKey,MonthKey,Number of deaths ages 5-9 years,Number of deaths ages 10-14 years,Number of deaths ages 15-19 years,Number of deaths ages 20-24 years,Number of infant deaths,"Number of infant deaths, female","Number of infant deaths, male",...,"Completeness of birth registration, male (%)","Completeness of birth registration, rural (%)","Completeness of birth registration, urban (%)",Completeness of birth registration (%),Rural population,Rural population growth (annual %),Rural population (% of total population),Urban population growth (annual %),Urban population,Urban population (% of total population)
0,0,CAN,12,197.0,288.0,972.0,1284.0,1788.0,799.0,989.0,...,NaN,NaN,NaN,NaN,6409413.0,0.557844,19.878,1.040619,25834340.0,80.122
1,1,TCD,12,7529.0,3259.0,4229.0,3592.0,44920.0,20239.0,24681.0,...,NaN,NaN,NaN,NaN,7895464.0,3.607677,78.199,3.801321,2201166.0,21.801
2,2,COD,12,29651.0,14788.0,21325.0,21124.0,232839.0,105136.0,127703.0,...,NaN,NaN,NaN,NaN,34251593.0,2.417806,62.519,4.475847,20534301.0,37.481
3,3,IND,12,175376.0,117731.0,178699.0,221958.0,1529523.0,737234.0,792289.0,...,NaN,NaN,NaN,NaN,812106163.0,1.111648,70.765,2.721832,335503761.0,29.235
4,4,KEN,12,8748.0,4659.0,8507.0,11744.0,66717.0,29769.0,36948.0,...,NaN,NaN,NaN,NaN,28686451.0,2.274322,78.325,4.437554,7938446.0,21.675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,139,KEN,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,38718025.0,1.576436,72.005,4.010418,15053275.0,27.995
140,140,MEX,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24844052.0,-0.420215,19.269,1.414375,104088701.0,80.731
141,141,MAR,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13460542.0,-0.268573,36.468,2.046346,23450016.0,63.532
142,142,USA,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57119368.0,-0.824661,17.336,0.599211,272364755.0,82.664
143,143,YEM,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18519540.0,1.234077,62.092,3.940860,11306428.0,37.908

In [91]:
# drop_columns = []
# for c in pop_dimension.columns:
#     if pop_dimension[c].isnull().sum() > 110: 
# #         print(c)
#         drop_columns.append(c)

# pop_dimension = pop_dimension.sort_values(['CountryKey', 'MonthKey'])
# pop_dimension = pop_dimension.drop(drop_columns, axis=1)
# columns_to_check = pop_dimension.columns[3:]
# pop_dimension = pop_dimension[~pd.isnull(pop_dimension[columns_to_check]).all(axis=1)]
# pop_dimension = pop_dimension.reset_index().drop(['index', 'PopulationKey'], axis=1).rename_axis('PopulationKey')
# pop_dimension.to_csv('Population_Dimension.csv')
# pop_dimension

# No Data Staging (missing value filling) needed for Natural Disaster and Political Event Dimension

## Natural Disaster Dimension

In [92]:
# nd = nd[(2005 <= nd['Year']) & (nd['Year'] <= 2020)]
# nd = nd[['Country', 'Year', 'Disaster Subgroup','Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
#          'Event Name', 'Origin', 'Aid Contribution',
#          'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude',
#          'Start Year', 'Start Month', 'End Year', 'End Month',
#          'Total Deaths', 'No Injured', 'No Affected',
#          'No Homeless', 'Total Affected', 'Reconstruction Costs (\'000 US$)',
#          'Insured Damages (\'000 US$)', 'Total Damages (\'000 US$)', 'CPI']]
# nd = nd[nd['Country'].isin(hnp_agg['Country Name'].unique()) | nd['Country'].str.contains('United States') 
#         | nd['Country'].str.contains('Yemen') | nd['Country'].str.contains('Congo \(the Democratic')]

# data = []
# for c in nd['Country']:
#     if c in hnp_agg['Country Name'].unique():
#         data.append(c)
#     elif 'United' in c:
#         data.append('United States')
#     elif 'Yemen' in c:
#         data.append('Yemen, Rep.')
#     elif 'Congo' in c:
#         data.append('Congo, Dem. Rep.')
        
# nd['CountryDimensionName'] = data
# nd = nd.merge(country_dimension, left_on='CountryDimensionName', right_on='Table Name')
# nd = nd[['CountryKey', 'Disaster Subgroup','Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
#          'Event Name', 'Origin', 'Aid Contribution',
#          'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude',
#          'Start Year', 'Start Month', 'End Year', 'End Month',
#          'Total Deaths', 'No Injured', 'No Affected',
#          'No Homeless', 'Total Affected', 'Reconstruction Costs (\'000 US$)',
#          'Insured Damages (\'000 US$)', 'Total Damages (\'000 US$)', 'CPI']]
# nd = nd.merge(month_dimension, left_on=['Start Month', 'Start Year'], right_on=['Month', 'Year'])
# nd = nd.rename(columns={'MonthKey': 'StartMonthKey'})
# nd = nd[['CountryKey', 'Disaster Subgroup','Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
#          'Event Name', 'Origin', 'Aid Contribution',
#          'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude', 'StartMonthKey','End Year', 'End Month',
#          'Total Deaths', 'No Injured', 'No Affected',
#          'No Homeless', 'Total Affected', 'Reconstruction Costs (\'000 US$)',
#          'Insured Damages (\'000 US$)', 'Total Damages (\'000 US$)', 'CPI']]
# nd = nd.merge(month_dimension, left_on=['End Month', 'End Year'], right_on=['Month', 'Year'])
# nd = nd.rename(columns={'MonthKey': 'EndMonthKey'})
# nd = nd[['CountryKey', 'Disaster Subgroup','Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
#          'Event Name', 'Origin', 'Aid Contribution',
#          'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude', 'StartMonthKey','EndMonthKey',
#          'Total Deaths', 'No Injured', 'No Affected',
#          'No Homeless', 'Total Affected', 'Reconstruction Costs (\'000 US$)',
#          'Insured Damages (\'000 US$)', 'Total Damages (\'000 US$)', 'CPI']].rename_axis('NaturalDisasterEventKey')
# nd.to_csv("NaturalDisaster_Dimension.csv")

## Political Event Dimension

In [93]:
# pe = pe[(2005 <= pe['Year']) & (pe['Year'] <= 2020)]

# pe = pe[pe['CountryName'].isin(hnp_agg['Country Name'].unique()) | pe['CountryName'].str.contains('United States') 
#         | pe['CountryName'].str.contains('Yemen') | pe['CountryName'].str.contains('Congo, Democratic')]
# data = []
# for c in pe['CountryName']:
#     if c in hnp_agg['Country Name'].unique():
#         data.append(c)
#     elif 'United' in c:
#         data.append('United States')
#     elif 'Yemen' in c:
#         data.append('Yemen, Rep.')
#     elif 'Congo' in c:
#         data.append('Congo, Dem. Rep.')
        
# pe['CountryDimensionName'] = data

# pe = pe.merge(country_dimension, left_on='CountryDimensionName', right_on='Table Name')
# pe = pe[[ 'CountryKey', 'Year', 'SumEvents', 'TotalEvents',
#        'NormalizedEvents1000', 'EventRootCode', 'EventRootDescr', 'EventCode',
#        'EventDescr', 'GoldsteinScale', 'AvgNumMentions', 'SumNumMentions',
#        'AvgAvgTone']]
# pe['Month'] = None
# pe = pe.astype({'Month': 'float64'})
# pe = pe.merge(month_dimension)
# pe = pe[['CountryKey', 'MonthKey', 'SumEvents', 'TotalEvents',
#        'NormalizedEvents1000', 'EventRootCode', 'EventRootDescr', 'EventCode',
#        'EventDescr', 'GoldsteinScale', 'AvgNumMentions', 'SumNumMentions',
#        'AvgAvgTone']].rename_axis('PoliticalEventKey')
# pe.to_csv("PoliticalEvent_Dimension.csv")

# Fact Table

In [105]:
# health_dimension = pd.read_csv('Health_Dimension.csv')
# population_dimension = pd.read_csv('Population_Dimension.csv')
# qol_dimension = pd.read_csv('QualityOfLife_Dimension.csv')
# education_dimension = pd.read_csv('Education_Dimension.csv')
# nd_dimension = pd.read_csv('NaturalDisaster_Dimension.csv')
# pe_dimension = pd.read_csv('PoliticalEvent_Dimension.csv')
# month_dimension = pd.read_csv('Month_Dimension.csv')
# country_dimension = pd.read_csv('Country_Dimension.csv')

In [259]:
# from itertools import product
  
# # apply product method
# fact_table = pd.DataFrame(data=list(product(country_dimension['CountryKey'], month_dimension['MonthKey'])), columns=['CountryKey','MonthKey'])
# fact_table

In [233]:
# def hdi_calc(row):
#     i = row['Historical Index of Human Development (Prados de la Escosura)']
#     if i < 0.25:
#         return 4
#     elif i < 0.5:
#         return 3
#     elif i < 0.75:
#         return 2
#     elif i < 101:
#         return 1
    

# hdi['Human Development Index'] = hdi.apply(lambda row: hdi_calc(row), axis=1)

# hdi['Month'] = np.nan

# hdi['CountryKey'] = hdi['Code']

# hdi = hdi.merge(month_dimension)[['CountryKey', 'MonthKey', 'Human Development Index']]

In [234]:
# def qol_index(row):
#     i = row['Index']
#     if i < 0.50:
#         return 5
#     elif i < 0.8:
#         return 4
#     elif i < 0.100:
#         return 3
#     elif i < 130:
#         return 2
#     else:
#         return 1
    
# qol['Quality of Life Index'] = qol.apply(lambda row: qol_index(row), axis=1)
# qol['Month'] = np.nan
# qol = qol.merge(month_dimension)[['CountryKey', 'MonthKey', 'Quality of Life Index']]

In [252]:
# def development_index(row):
#     if row['CountryKey'] in ['CAN', 'USA', 'MEX']:
#         return 1
#     elif row['CountryKey'] in ['IND', 'MAR', 'KEN']:
#         return 2
#     elif row['CountryKey'] in ['TCD', 'YEM', 'COD']:
#         return 3

# fact_table['Development Index']= fact_table.apply(lambda row: development_index(row), axis=1)

In [254]:
# fact_table = fact_table.merge(month_dimension)
# fact_table = fact_table.merge(country_dimension)
# fact_table = fact_table.merge(hdi, how='left')
# fact_table = fact_table.merge(qol, how='left')
# fact_table
# fact_table = fact_table.merge(health_dimension, how='left')
# fact_table = fact_table.merge(population_dimension, how='left')
# fact_table = fact_table.merge(qol_dimension, how='left')
# fact_table = fact_table.merge(education_dimension, how='left')
# fact_table = fact_table.merge(pe_dimension, how='left')
# fact_table = fact_table.merge(nd_dimension, how='left', left_on=['CountryKey', 'MonthKey'], right_on=['CountryKey', 'StartMonthKey'])

In [258]:
fact_table.to_csv('FactTable.csv')